* {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #a4c3b2;
}

.alert-box {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid #eaf4f4;
    background-color: #6b9080;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.alert-button:hover {
    background-color: #004794;
}

.alert-title {
    font-size: 26px;
    margin-top: 0;
}

.alert-message {
    font-size: 23px;
}

.alert-button {
    background-color: #005fc5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3px;
}